/* Reset */
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

/* Common */

.hrule {
    display: inline-block;
    vertical-align: middle;
    width: 4%;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-testo {
    margin-right: 0%;

}

.logo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 20px;
}


/* MAIN */
main {
    background-color: black;
}