/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color:  #f6f8f9;
    font-family: sans-serif;
}

header {
    background-color: #ffffff;
    height: 70px;
}

/* Header Common */
.hrule {
    display: inline-block;
    vertical-align: middle;
    width: 6%;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4px;
}

.logo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 20px;
}

/* MAIN */


#contenitore1 {
    margin-top: 30px;
    border-radius: 5px 5px 0px 0px;
    padding: 15px;
}

#contenitore2 {
    margin-top: 2px;
    padding-top: 50px;
    border-radius: 0px;
    
}
/*  Main Common */
.contenitore {
    margin: auto;
    width: 80%;
    background-color:  #ffffff;
    margin-top: 30px;
    border-radius: 5px 5px 0px 0px;
    padding-left: 40px;
}

.btn {
    border-radius: 6px;
    font-size: 10px;
    margin: 5px;
    height: 10%;
    display: inline-block;
    border-style: solid;
    border: 1px solid;
    padding: 4px;
   
}

.blue {
    background-color:  #47adf1;
    color: white;
}

.white {
    background-color: white;
    color: lightgrey;
    margin-left: -4px;
}

/* Unordered  List */
li {
    list-style-type: none;
}
.green {   
    border-color: lightgreen;
    color: lightgreen;

}

.red {
    border-color: red;
    color: red;
    font-size: 5px;
    font-weight: 100;
}

.check {
    border-radius: 50%;
    border-style:  solid;
    text-align: center;
    line-height: 16px;
    height: 16px;
    width: 16px;
    display: inline-block;
    margin: 10px;
}

.square {
    border-radius: 10px;
    font-size: 10px;
    margin: 5px;
    height: 10%;
    display: inline-block;
    padding: 4px;
}
 
.violet {
  background-color:  #9c72e4;
}

.orange {
   background-color:  #f29e33;
}

.rose {
    background-color:  #d863a1;
}

.senape {
    background-color:  #b0c926;
}