/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color:  #f6f8f9;
}

header {
    background-color: #ffffff;
    height: 70px;
}
.hrule {
    display: inline-block;
    vertical-align: middle;
    width: 4%;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4px;
}

.logo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 20px;
}

/* MAIN */


#contenitore1 {
    margin-top: 30px;
    border-radius: 5px 5px 0px 0px;

}

#contenitore2 {
    margin-top: 2px;
    padding-top: 15px;
    border-radius: 0px;
}
/*  Main Common */
.contenitore {
    margin: auto;
    width: 80%;
    background-color:  #ffffff;
    margin-top: 30px;
    border-radius: 5px 5px 0px 0px;
    padding-left: 40px;
}

.btn {
    border-radius: 6px;
    font-size: 10px;
    margin: 5px;
    height: 10%;
    display: inline-block;
    border-style: solid;
    border: 1px solid;
    padding: 4px;
   
}

.blue {
    background-color:  #47adf1;
    color: white;
}

.white {
    background-color: white;
    color: lightgrey;
    margin-left: -4px;
}

/* Unordered  List */
li {
    list-style-type: none;
}

.greencheck {
    border-radius: 50%;
    border-style:  solid;
    border-color: lightgreen;
    color: lightgreen;
    text-align: center;
    /* line-height: 10px; */
    height: 10px;
    width: 10px;
}